# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
build/*
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Netabeans
nbproject/

# Composer
composer.lock
