{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Annonces{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
{% endblock %}

{% block body %}
  
  <header>
    {% block header %} {% include "SmodealAdBundle::header.html.twig" %} {% endblock %}
  </header>  

  <section id="content" class="container">
    {% block content %}{% endblock %}
  </section>

  <footer class="bs-footer" role="contentinfo">
      {% block footer %} {% include "SmodealAdBundle::footer.html.twig" %} {% endblock %}
  </footer>
  
{% endblock %}